:root {
    --green-color: #35BEC5;
    --dark-yellow-color:#FFCE00; 
    --gry-bg-color:#f3f1f3;
    }

body.admin{
    background-color:var(--gry-bg-color);
    height: auto !important;

}
/*scroll*/

.heightsidemenu::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.heightsidemenu::-webkit-scrollbar-track {
  background: #d3d1d3;
}
 
/* Handle */
.heightsidemenu::-webkit-scrollbar-thumb {
  background: #d3d1d3;
}

/* Handle on hover */
.heightsidemenu::-webkit-scrollbar-thumb:hover {
  background: #d3d1d3;
}
/*scroll*/
    .container,
    .uk-container {
        display: flow-root;
        box-sizing: content-box;
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px
    }
    
    .uk-h3, h3{
        font-size: 17px;
        letter-spacing: 1px;
    }
    .uk-h4, h4{
        font-size: 17px;
        letter-spacing: 1px;
    }
    .uk-h1, h1{
        font-size: 20px;
        letter-spacing: 1px
    }
    .uk-h5, h5{
        font-size: 17px;
    }

    .uk-nav-primary>li>a {
        padding: 6px 22px !important;
        display: flex;
        align-items: center;
    }
    
    .uk-nav-primary>li{
        margin-bottom: 2px;
    }
    
    .uk-nav-sub {
        padding: 6px 0 11px 15px !important;
    }
    
    #p2s_leftCol {
        left: 0;
        transition: 1s;
        overflow-y: inherit;
        background-color: #e9e7e9;
    }
    
    .table-auto {
        overflow: auto;
    }
    
.uk-table th{
    padding: 10px 12px;
    font-size: 12px;
    letter-spacing: 1px;
     white-space: nowrap;
}    
.uk-table td{
    padding: 13px 11px;
    vertical-align: middle;
    font-size: 14px;
}
.label, .uk-label, a.label{
    padding: 3px 10px;
    font-size: 11px;
}
.uk-table td {
    padding: 13px 11px;
    vertical-align: middle;
    font-size: 14px;
}
    
    #p2s_content {
        transition: 1s all;
        overflow: hidden;
    }    

    .heightsidemenu{
        height: 100%;
        padding-bottom: 150px; 
    }
    .uk-card-header .uk-grid{
        align-items: center;
    
    }
    
    .importicon{
        font-size: 40px;
    }

.uk-card-small .uk-card-body, .uk-card-small.uk-card-body {
    padding: 30px 10px;
}



input.p-inputtext{
    width: 100%;
    height: 40px;
}

    .uk-nav-primary>li a svg path {
        fill: #545454;
    }
    
    .uk-nav-primary>li a svg {
        margin-right: 2px;
        width: 23px !important;
    }
    
    .uk-nav-primary>li>a:focus,
    .uk-nav-primary>li>a:hover {
        color: #000;
    }
    .uk-nav-primary>li a:hover svg path,
    .uk-nav li.uk-open a svg path{
        fill:#000;
    }
    .uk-nav-primary .uk-nav-sub a:focus,
    .uk-nav-primary .uk-nav-sub a:hover {
        color: #000;
    }

/*=========================BUTTON CSS=======================*/

.button-success {
        background-color: var(--green-color) !important;
        color: #fff !important;
        border: 1px solid transparent !important;
}

.closebtn{
        background-color: var(--dark-yellow-color) !important;
        padding: 11px 24px;
        border-radius: 6px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 0px;
}


.btn-success:focus, .btn-success:hover, .uk-button-secondary:focus, .uk-button-secondary:hover {
    background-color: #31c1c9;
    color: #fff;
    border-color: transparent;
}    
.nav-tabs>.active>a, .uk-tab>.uk-active>a {
    color: #00b5bd;
    border-color: #00b5bd;
}
.btn-info, .btn-primary, .uk-button-primary {
        background-color: var(--green-color) !important;
        color: #fff !important;
        border: 1px solid transparent !important;
}


/*=========================BUTTON CSS=======================*/


/*=========================COLOR CSS=======================*/

    .uk-card-primary{
        background-color: var(--green-color);
    }
    .uk-card-primary.uk-card-hover:hover{
        background-color: var(--green-color);
    }

    .btn-success, .uk-button-secondary{
        background-color: var(--green-color);
    }

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider,
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
    background: #35bec5;
}


.uk-checkbox:checked,
.uk-checkbox:indeterminate,
.uk-radio:checked, input[type=checkbox]:not([class*=uk-]):checked,
input[type=checkbox]:not([class*=uk-]):indeterminate,
input[type=radio]:not([class*=uk-]):checked {
    background-color: #00b9c1 !important;
}

/*=========================COLOR CSS=======================*/


#p2s_content{
        margin-left: 270px;
}
#p2s_main{
    height: auto;
}
.navbar-toggler.toggler-toolbar{
    display: none;
}
.row>*{
    padding-left: 0;
    padding-right: 0;
}
.container-main, #system-debug,
.uk-section-default{
    background-color:var(--gry-bg-color) !important;
}

.uk-card{
    border-radius: 0px;
}
.uk-card-default{
    border: none; 
}
.uk-nav-sub li a{
    background: transparent !important;
}
.uk-nav-sub a {
    padding: 6px 32px;
}
.uk-nav li a:hover{
    background: #cfcdcf;
}
.uk-nav li.active a,
.uk-nav-sub li.active a{
    background: #cfcdcf !important;
}
.brand-logo {
    background: #fff;
    padding: 30px 15px; 
}
.uk-card-small .uk-card-header{
    padding: 18px 20px; 
}

.customericon {
    font-size: 22px;
}
.customericon p {
    font-size: 16px;
    margin: 0px 0 0 8px;
    color: #000;
}
.customer-content {
    font-size: 26px;
    line-height: 40px;
}

.total-sales-main .customericon,
.total-sales-main .customer-content {
    color: #ffa81f;
}

.total-order-main .customericon,
.total-order-main .customer-content {
    color: #00b5bd;
}

.total-customers .customericon,
.total-customers .customer-content {
    color: #f35f3f;
}

.total-sales-main,
.total-order-main{
    border-right: solid 1px #c7c6cc;
}

 .p-inputwrapper,
 .p-chips-multiple-container{
    width: 100%;
 }


select.uk-select {
    background: white !important;
    display: block;
    font-size: 13px;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23515070%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23515070%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A) !important;
    background-position: right 0px center !important;
    background-repeat: no-repeat !important;

}

.uk-card-header .uk-width-expand input,
.uk-card-header input[type=text] {
     background: white;
    height: 40px;
    border: 1px solid #e5e5e5 !important;
    font-size: 14px;
}
.search-close {
    position: absolute;
    right: 10px;
    width: 30px;
    top: 8px;
}
.customer-address .uk-form-controls {
    margin: 3px 0px 15px 0px;
}
.product-detail-textarea .control-group{
    flex-direction: column;
}
.btn-small, .uk-button-small{
    padding: 0px 18px;
    line-height: 36px;
}

table{
    border: solid 1px #e5e5e5;
}


.sidemenubtn {
    position: absolute;
    background: #64c8d1;
    width: 40px;
    z-index: 9999;
    text-align: center;
    height: 37px;
    right: -40px;
    border-radius: 0 7px 7px 0px;
    top: 66px;
    display: none;
}

.sidemenubtn i {
    position: absolute;
    display: block;
    height: 2px;
    background: #fff;
    width: 22px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.sidemenubtn i:nth-child(1) {
    top: 11px;
    left: 10px;
}
.sidemenubtn i:nth-child(2) {
    top: 18px;
    width: 19px;
    left: 10px;
}
.sidemenubtn i:nth-child(3) {
    top: 25px;
    width: 13px;
    left: 10px;
}



.openmenu .sidemenubtn i:nth-child(3) {
    top: 18px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    width: 22px;
}
.openmenu .sidemenubtn i:nth-child(2) {
    background: transparent;
}
.openmenu .sidemenubtn i:nth-child(1) {
    top: 18px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.uk-notification-message-success{
    background-color: #00b5bd !important;
    color: #fff;
}
div.mce-edit-area iframe{
    height: 275px !important;
    overflow: hidden;
}
.tox-tinymce{
    height: 300px !important;
    overflow: hidden;
}

.upload-image{
    overflow: hidden;
}
.remove-img {
    right: 10px;
    z-index: 999;
    width: 22px;
    height: 22px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    top: 11px;
    font-size: 15px;
    line-height: 22px;
    text-shadow: 2px 2px 3px #000;
    overflow: hidden;
    cursor: pointer;
}

/*======================RESPONSIVE CSS===========================*/
    
    @media(min-width: 1200px) {
        .uk-card-body {
            padding: 20px 20px;
        }
        .uk-card-header {
            padding: 15px 20px;
        }
        .uk-card-body .uk-nav-default>li>a {
            padding-left: 20px;
            padding-right: 20px;
        }
        .uk-card-body>.uk-nav-default {
            margin-left: -20px;
            margin-right: -20px
        }
        .row {
            margin-left: -10px;
}
.uk-card-body > .uk-nav-default:only-child{
    margin-top: -10px;
    margin-bottom: 0px;
}
.uk-grid>*{
        padding-left: 20px;
}
.uk-grid {
    margin-left: -20px;
}
*+.uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin{
        margin-top: 20px;
}
    }
    
    @media(max-width: 1199px) {
        #p2s_leftCol {
            left: -270px;
            transition: 1s;
        }
        #p2s_content {
            margin-left: 0px;
            transition: 1s;
            padding-top: 31px;
        }
        .sidemenubtn {
            display: flex;
        }
        .openmenu #p2s_leftCol {
            left: 0px;
            transition: 1s;
        }
        .openmenu #p2s_content {
            margin-left: 270px;
        }
    
    }
    
    @media (min-width:640px) {
        .container,
        .uk-container {
            padding-left: 20px;
            padding-right: 20px
        }
    }
    
    @media (min-width:960px) {
        .container,
        .uk-container {
            padding-left: 20px;
            padding-right: 20px
        }

    .uk-h1, h1{
     letter-spacing: 1px;
     font-size: 20px;
    }
    .uk-section {
    padding-top: 20px;
    padding-bottom: 20px;
}
.uk-h2, h2 {
    font-size: 21px;
    letter-spacing: 1px;
}

    }

@media(max-width: 767px){
    .uk-navbar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uk-navbar-container .uk-navbar-right{
    margin: auto;
    flex-direction: column;
    }
    .uk-navbar-container .uk-navbar-right button,
    .uk-navbar-container .uk-navbar-right a{
        margin-right: 0px !important;
    }
.total-customers, .total-order-main, .total-sales-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border-right: none;
}

}
    
