/robots.txt.dist
/LICENSE.txt
/index.php
/htaccess.txt
/configuration.php
/web.config.txt
/robots.txt
/.idea
/.well-known
/components/
/.htaccess
/tmp/
/layouts/
/language/
/includes/
/images/
/dist/
/cli/
/cache/
/bin/
/api/
/media/
/libraries/
/templates/
!/components/
/components/*
!/components/com_user_pro/
!/administrator/
/administrator/*

!/administrator/components/
/administrator/components/*

!/administrator/language/
/administrator/language/*
!/administrator/language/en-GB/
/administrator/language/en-GB/*

!/modules/
/modules/*

!/plugins/
/plugins/*

!/plugins/system
/plugins/system/*
!/plugins/system/menu_pro_element/